.header {
  margin: 2% 2%;
  width: 100%;

  h1, h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.gamefield {
  border: .5px solid black;
  overflow: hidden;
  margin: 2% auto;
  width: 100%;

  .ui-section {
    float: left;
    width: 30%;
  }

  .journey {
    float: left;
    width: 70%;
  }
}
