.header {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2% auto;
  width: 70%;

  h1, h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.gamefield {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  margin: 2% auto;
  padding: 1%;
  width: 90%;

  .ui-section {
    float: left;
    width: 30%;
  }

  .journey {
    float: left;
    position: relative;
    min-height: 150px;
    width: 70%;
  }
}


fieldset button, fieldset input {
  background-color: #fff;
  display: block;
  margin: 5% auto;
  width: 75%;
}

.wagon {
  // background: url(http://www.freeiconspng.com/uploads/shopping-cart-icon-30.png);
  // background-position: center;
  // background-size: cover;
  // min-height: 300px;
  margin: 1% auto;
  width: 100%;
}

.meta-gamefield {
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    background-color: #fff;
    margin: 2% auto;
    width: 30%;
  }

}

.footer {
  width: 100%;
}
