@import "partials/reset";
@import "partials/layout";

body {
  background: url(https://farm9.staticflickr.com/8049/8079745798_baa604a1c1_b.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
